---
import fs from 'fs'
import YAML from 'yaml'
import { Tabs, TabItem } from '@astrojs/starlight/components';

const { shipName } = Astro.props;

const YAMLFolder = './src/assets/data/Hullrot/Resources/Prototypes';

const recipeLPCsFile = fs.readFileSync(`${YAMLFolder}/_Crescent/Entities/Recipes/Lathes/shiplpcs.yml`, 'utf8');
const recipeShipComponentsFile = fs.readFileSync(`${YAMLFolder}/_Crescent/Entities/Recipes/Lathes/shipcomponents.yml`, 'utf8');

const recipeLPCs = YAML.parse(recipeLPCsFile);
const recipeShipComponents = YAML.parse(recipeShipComponentsFile);

// each unit of steel, silver, gold, plasma contains 100 of said material
// each ship component contain 500 of said material
// hard-coded because it's in four different places
const materialDivisor = 100;
const shipComponentDivisor = 500;

const shipLPCEntry = recipeLPCs.find(ship => ship.id.includes(shipName));

const costLPC = {};

const costLPCMaterials = {
    Steel: 0,
    Silver: 0,
    Gold: 0,
    Plasma: 0
}

const NCWLShipyardMultiplier = 1.1765; // NCWL shipyard manufactorium is configured to use 17.65% more materials than default

Object.keys(shipLPCEntry.materials).forEach(key => {
    costLPC[key] = shipLPCEntry.materials[key] / shipComponentDivisor;
})

const shipEngineEntry = recipeShipComponents.find(component => component.id == "ShipEngine");
const shipElectronicsEntry = recipeShipComponents.find(component => component.id == "ShipElectronics");
const shipHullEntry = recipeShipComponents.find(component => component.id == "ShipHull");

Object.keys(shipEngineEntry.materials).forEach(key => {
    costLPCMaterials[key] += (shipEngineEntry.materials[key] * costLPC.StarshipEngineComponents) / materialDivisor;
})

Object.keys(shipElectronicsEntry.materials).forEach(key => {
    costLPCMaterials[key] += (shipElectronicsEntry.materials[key] * costLPC.ShipComponents) / materialDivisor;
})

Object.keys(shipHullEntry.materials).forEach(key => {
    costLPCMaterials[key] += (shipHullEntry.materials[key] * costLPC.ShipHull) / materialDivisor;
})

---
<p><i>The NCWL shipyard manufactorium has an efficiency penalty of {Math.round((NCWLShipyardMultiplier - 1) * 100000) / 1000}%.</i></p>

<Tabs>
    <TabItem label="NCWL Shipyard Values">
        <ul>
            <li><strong>Engine Components</strong>: {costLPC.StarshipEngineComponents}</li>
            <li><strong>Electronics Components</strong>: {costLPC.ShipComponents}</li>
            <li><strong>Hull Components</strong>: {costLPC.ShipHull}</li>
            <li><strong>Total Materials: </strong>
                <ul>
                    <li>Steel: {Math.round(costLPCMaterials.Steel * NCWLShipyardMultiplier * 1000) / 1000}</li>
                    <li>Silver: {Math.round(costLPCMaterials.Silver * NCWLShipyardMultiplier * 1000) / 1000}</li>
                    <li>Gold: {Math.round(costLPCMaterials.Gold * NCWLShipyardMultiplier * 1000) / 1000}</li>
                    <li>Plasma: {Math.round(costLPCMaterials.Plasma * NCWLShipyardMultiplier * 1000) / 1000}</li>
                </ul>
            </li>
        </ul>
    </TabItem>
    <TabItem label="Default Values">
        <ul>
            <li><strong>Engine Components</strong>: {costLPC.StarshipEngineComponents}</li>
            <li><strong>Electronics Components</strong>: {costLPC.ShipComponents}</li>
            <li><strong>Hull Components</strong>: {costLPC.ShipHull}</li>
            <li><strong>Total Materials: </strong>
                <ul>
                    <li>Steel: {Math.round(costLPCMaterials.Steel * 1000) / 1000}</li>
                    <li>Silver: {Math.round(costLPCMaterials.Silver * 1000) / 1000}</li>
                    <li>Gold: {Math.round(costLPCMaterials.Gold * 1000) / 1000}</li>
                    <li>Plasma: {Math.round(costLPCMaterials.Plasma * 1000) / 1000}</li>
                </ul>
            </li>
        </ul>
    </TabItem>
</Tabs>